@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@600&family=Patua+One&family=Prompt:wght@600&family=Roboto&family=Special+Gothic+Expanded+One&family=Zalando+Sans+SemiExpanded:wght@600&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth !important;
}

@layer utilities {
  .font-sans {
    font-family: var(--font-family-sans);
  }

  .font-service {
    font-family: var(--font-family-service);
  }

  .font-h1serv {
    font-family: var(--font-family-h1serv);
  }
  
  .font-pserv {
    font-family: var(--font-family-pserv);
  }

  .font-vehicle {
    font-family: var(--font-family-vehicle)
  }

  .font-contact {
    font-family: var(--font-family-contact);
  }

  .font-aboutCompany {
    font-family: var(--font-family-aboutCompany);
  }

}

@layer base{
  :root {
  --font-family-sans: "Patua One", sans-serif;
  --font-family-service: "Special Gothic Expanded One", sans-serif;
  --font-family-h1serv: "Noto Sans SC", sans-serif;
  --font-family-pserv: "Rubik", sans-serif;
  --font-family-vehicle: "Zalando Sans SemiExpanded", sans-serif;
  --font-family-contact: "Prompt", sans-serif;
  --font-family-aboutCompany: "Roboto", sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}